<!DOCTYPE html>
<html lang="zh">
    <head>
        <title> 有奖投票 | 《创造喵零喵》，谁能C位出道？ </title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <style>
            html,body{
                margin:0;
                padding: 0;
                margin: 0px;
				overflow: hidden;
            }
            .swal-loading {
                background-color: rgba(0,0,0,0);
                color:#ffffff;
            }
            .swal-text {
                color: rgba(200,200,200,1);
            }
            
        </style>
        <!-- dev -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.8.2/pixi.min.js"></script>
        <!-- min -->
        <!--<script src="https://cdn.bootcss.com/pixi.js/4.8.6/pixi.min.js"></script>-->
    </head>
<body>
    <script>
        // 替换 wiw / window.innerWidth wih / 
        var wiw = 640;
        var wih = 1138; 
        var test;
        var imgData = [
            "./img/bg.jpg",
            "./img/title0.png",
            "./img/vs1.png",
            "./img/vs2.png",
            "./img/vs3.png",
            "./img/btn.png",
            "./img/ballotbg.png",
            "./img/ballotcolumn.png"
        ];
        var updataURL = "";
        var imgArr = [];
        var progressCount = 0, Wapp;
        (function(){
            // 提交投票数据
            
            updata = (id) =>{
                    var rcv_uuid = [
                        "c80583aa-13ac-45c3-9689-0faa6664d880",
                        "8d3d3f0a-a535-4778-b57b-35ed751a272d",
                        "6701c3ea-52d5-4afc-b437-0280b76b9d8a"
                    ];
                    var rcc_uuid = Param("rcc_uuid"), rcu_uuid = Param("rcu_uuid");
                    console.log("rcc_uuid: " + rcc_uuid)
                    console.log("rcu_uuid: " + rcu_uuid)
                    console.log("rcv_uuid: " + rcv_uuid[id])
                    // 开始加载
                    swal({
                        text: "开始加载",
                        button: false,
                        closeOnClickOutside: false,
                        className: "swal-loading",
                    });                   
                    fetch('https://gowc.iuu.pub/representcat/vote?do=add&rcc_uuid=' + rcc_uuid + '&rcv_uuid='+ rcv_uuid[id] + '&rcu_uuid=' + rcu_uuid)
                    .then(res => res.json())
                    .then((data) => {
                        console.log(`data = \n`, data)
                        test = data;
                        if( data.errCode == "success" ){
                            swal.close()
                            //投票成功 {"errcode":"success","data":[{"name":"xxx","count":int64}]}
                            ctr(data.data)
                            // 延迟数秒执行抽奖任务
                            setTimeout(()=>{
                                swal({
                                    text: "投票完成是否前往抽奖！",
                                    buttons: {
                                        confirm: "好的",
                                        roll: {
                                        text: "取消",
                                        value: false,
                                        },
                                    },
                                }).then(t=>{
                                    console.log(t)
                                    if(t){
                                        window.location.href = "https://hd.faisco.cn/13586304/wKAakKsKdo4AoorKZgGYuQ/load.html?style=75";
                                    }
                                })
                            },2500)
                        }else{
                            swal( "错误", data.info, "error" ).then((e) => {
                                swal({
                                    text: "是否前往抽奖！",
                                    buttons: {
                                        confirm: "好的",
                                        roll: {
                                        text: "取消",
                                        value: false,
                                        },
                                    },
                                }).then(t=>{
                                    console.log(t)
                                    ctr(data.data)
                                    if(t){
                                        window.location.href = "https://hd.faisco.cn/13586304/wKAakKsKdo4AoorKZgGYuQ/load.html?style=75";
                                    }
                                })
                            })
                        }
                    })
            };
            class SV {  
                constructor(){
                    this.name = "测试"
                }
                // v_init
                v_init(){
                    // SV 依赖于pixi.js 新手不喜请加油喷，aimo-x@oovmi.com
                    var app = new PIXI.Application(wiw, wih, {backgroundColor : 0x000});
                    var container = document.createElement( 'div' );
                        document.body.appendChild( container );
                        app.view.style.width= window.innerWidth + "px";
                        app.view.style.height= window.innerHeight + "px";
                        container.append(app.view);
                        Wapp = app;
                        return app
                }
                // 生成页面
                generate (app){
                    // bg
                    let bg = PIXI.Sprite.fromImage(imgData[0]);
                        bg.width = wiw;
                        bg.height = wih;
                    app.stage.addChild(bg);

                    // title0 
                    let title0 = PIXI.Sprite.fromImage(imgData[1]);
                        title0.width =  wiw*0.711;
                        title0.height = wih*0.183;
                        title0.x = wiw*0.144;
                        title0.y = wih*0.154;
                    app.stage.addChild(title0);

                    // vs 1-3 选项
                    let vs1 = PIXI.Sprite.fromImage(imgData[2]);
                        vs1.width =  wiw*0.173;
                        vs1.height = wih*0.149;
                        vs1.x = wiw*0.161;
                        vs1.y = wih*0.381;
                    app.stage.addChild(vs1);
                    let vs2 = PIXI.Sprite.fromImage(imgData[3]);
                        vs2.width =  wiw*0.209;
                        vs2.height = wih*0.163;
                        vs2.x = wiw*0.161;
                        vs2.y = wih*0.553;
                    app.stage.addChild(vs2);
                    let vs3 = PIXI.Sprite.fromImage(imgData[4]);
                        vs3.width =  wiw*0.27;
                        vs3.height = wih*0.16;
                        vs3.x = wiw*0.125;
                        vs3.y = wih*0.748;
                    app.stage.addChild(vs3);

                    // btn 按钮组
                    let btn1 = PIXI.Sprite.fromImage(imgData[5]);
                        btn1.width =  wiw*0.202;
                        btn1.height = wih*0.12;
                        btn1.x = wiw*0.556;
                        btn1.y = wih*0.395;
                        // Opt-in to interactivity
                        btn1.interactive = true;
                        // Shows hand cursor
                        btn1.buttonMode = true;
                        // Pointers normalize touch and mouse
                        btn1.on('touchstart', function (){
                            btn1.alpha = 0.5;
                        });
                        btn1.on('touchend', function (){
                            btn1.alpha = 1;
                            updata(0)
                        });
                        
                    app.stage.addChild(btn1);
                    let btn2 = PIXI.Sprite.fromImage(imgData[5]);
                        btn2.width =  wiw*0.202;
                        btn2.height = wih*0.12;
                        btn2.x = wiw*0.556;
                        btn2.y = wih*0.574;
                        btn2.interactive = true;
                        // Shows hand cursor
                        btn2.buttonMode = true;
                        btn2.on('touchstart', function (){
                            btn2.alpha = 0.5;
                        });
                        btn2.on('touchend', function (){
                            btn2.alpha = 1;
                            updata(1)
                        });
                    app.stage.addChild(btn2);
                    let btn3 = PIXI.Sprite.fromImage(imgData[5]);
                        btn3.width =  wiw*0.202;
                        btn3.height = wih*0.12;
                        btn3.x = wiw*0.556;
                        btn3.y = wih*0.768;
                        btn3.interactive = true;
                        // Shows hand cursor
                        btn3.buttonMode = true;
                        btn3.on('touchstart', function (){
                            btn3.alpha = 0.5;
                        });
                        btn3.on('touchend', function (){
                            btn3.alpha = 1;
                            updata(2)
                        });
                    app.stage.addChild(btn3);
                    

                    app.ticker.add(function(delta) {
                    // 动画和遮罩
                       
                        
                    });
                    var vote_Arr = []
                    window.ctr = (data) => {
                        // 删除btn
                        app.stage.removeChild(btn1)
                        app.stage.removeChild(btn2)
                        app.stage.removeChild(btn3)
                        // 进度
                        let ballotcolumn = [];
                        // 遮罩
                        let ballotcolumnMask = [];
                            ballotcolumn[0] = PIXI.Sprite.fromImage(imgData[7]);
                            ballotcolumn[0].width =  wiw*0.406;
                            ballotcolumn[0].height = wih*0.018;
                            ballotcolumn[0].x = wiw*0.427;
                            ballotcolumn[0].y = wih*0.431;
                        app.stage.addChild(ballotcolumn[0]);

                            ballotcolumnMask[0] = PIXI.Sprite.fromImage(imgData[7]);
                            ballotcolumnMask[0].width =  wiw*0;
                            ballotcolumnMask[0].height = wih*0.018;
                            ballotcolumnMask[0].x = wiw*0.427;
                            ballotcolumnMask[0].y = wih*0.431;
                        app.stage.addChild(ballotcolumnMask[0]);
                        // 设置遮罩0
                        ballotcolumn[0].mask = ballotcolumnMask[0]

                            ballotcolumn[1] = PIXI.Sprite.fromImage(imgData[7]);
                            ballotcolumn[1].width =  wiw*0.406;
                            ballotcolumn[1].height = wih*0.018;
                            ballotcolumn[1].x = wiw*0.427;
                            ballotcolumn[1].y = wih*0.612;
                        app.stage.addChild(ballotcolumn[1]);
                        
                            ballotcolumnMask[1] = PIXI.Sprite.fromImage(imgData[7]);
                            ballotcolumnMask[1].width =  wiw*0;
                            ballotcolumnMask[1].height = wih*0.018;
                            ballotcolumnMask[1].x = wiw*0.427;
                            ballotcolumnMask[1].y = wih*0.612;
                        app.stage.addChild(ballotcolumnMask[1]);
                        // 设置遮罩1
                        ballotcolumn[1].mask = ballotcolumnMask[1]

                            ballotcolumn[2] = PIXI.Sprite.fromImage(imgData[7]);
                            ballotcolumn[2].width =  wiw*0.406;
                            ballotcolumn[2].height = wih*0.018;
                            ballotcolumn[2].x = wiw*0.427;
                            ballotcolumn[2].y = wih*0.802;
                        app.stage.addChild(ballotcolumn[2]);
                        
                            ballotcolumnMask[2] = PIXI.Sprite.fromImage(imgData[7]);
                            ballotcolumnMask[2].width =  wiw*0;
                            ballotcolumnMask[2].height = wih*0.018;
                            ballotcolumnMask[2].x = wiw*0.427;
                            ballotcolumnMask[2].y = wih*0.802;
                        app.stage.addChild(ballotcolumnMask[2]);
                        // 设置遮罩2
                        ballotcolumn[2].mask = ballotcolumnMask[2]

                        // 框0
                        let ballotbg1 = PIXI.Sprite.fromImage(imgData[6]);
                            ballotbg1.width =  wiw*0.406;
                            ballotbg1.height = wih*0.021;
                            ballotbg1.x = wiw*0.427;
                            ballotbg1.y = wih*0.43;
                        app.stage.addChild(ballotbg1);
                        
                        let ballotbg2 = PIXI.Sprite.fromImage(imgData[6]);
                            ballotbg2.width =  wiw*0.406;
                            ballotbg2.height = wih*0.021;
                            ballotbg2.x = wiw*0.427;
                            ballotbg2.y = wih*0.61;
                        app.stage.addChild(ballotbg2);

                        let ballotbg3 = PIXI.Sprite.fromImage(imgData[6]);
                            ballotbg3.width =  wiw*0.406;
                            ballotbg3.height = wih*0.021;
                            ballotbg3.x = wiw*0.427;
                            ballotbg3.y = wih*0.8;
                        app.stage.addChild(ballotbg3);

                        // 票数text
                        let ballotcolumnText = [];
                            
                        var count_sum = 0;
                        for (let i =0; i < data.length; i++ ){
                            console.log(i, data[i].Count)
                            count_sum += data[i].Count;
                            ballotcolumnText[i] = new PIXI.Text(data[i].Count + "票",{fontFamily : 'Arial', fontSize: 26});
                            ballotcolumnText[i].x = wiw*0.427;
                            ballotcolumnText[i].y = wih*0.458 + i*(wih*0.18);
                            app.stage.addChild(ballotcolumnText[i]);
                        }
                        for (let i = 0; i <  ballotcolumnMask.length; i++ ){
                            ballotcolumnMask[i].width = (data[i].Count/count_sum)*(wiw*0.406)
                        }
                        
                        

                    }
                    var rcv_uuid = [
                        "c80583aa-13ac-45c3-9689-0faa6664d880",
                        "8d3d3f0a-a535-4778-b57b-35ed751a272d",
                        "6701c3ea-52d5-4afc-b437-0280b76b9d8a"
                    ];
                    var rcc_uuid = Param("rcc_uuid"), rcu_uuid = Param("rcu_uuid");
                    console.log("rcc_uuid: " + rcc_uuid)
                    console.log("rcu_uuid: " + rcu_uuid)
                    console.log("rcv_uuid: " + rcv_uuid[0])
                    fetch('https://gowc.iuu.pub/representcat/getdata?do=add&rcc_uuid=' + rcc_uuid + '&rcv_uuid='+ rcv_uuid[0] + '&rcu_uuid=' + rcu_uuid)
                    .then(res => res.json())
                    .then((data) => {
                        console.log(`data = \n`, data)
                        test = data;
                        swal.close()
                        if( data.errCode == "success" ){
                            ctr(data.data)
                            
                            setTimeout(()=>{
                                    swal({
                                        text: "您已经投票过了是否前往抽奖！",
                                        buttons: {
                                            confirm: "好的",
                                            roll: {
                                            text: "取消",
                                            value: false,
                                            },
                                        },
                                    }).then(t=>{
                                        console.log(t)
                                        ctr(data.data)
                                        if(t){
                                            window.location.href = "https://hd.faisco.cn/13586304/wKAakKsKdo4AoorKZgGYuQ/load.html?style=75";
                                        }
                                    })
                            },2000)
                        }
                    
                    })
                    return "start";
                }
            }
            // sv 载入投票类 simple vote
            var sv = new SV();
            loadImg = () => {
                // 遍历图像
                for (let i = 0; i<imgData.length; i++){
                        fetch(imgData[i])
                        .then(function(response) {
                            return response.blob();
                        })
                        .then(function(myBlob) {
                            var objectURL = URL.createObjectURL(myBlob);
                                imgArr[i] =  new Image;
                                imgArr[i].src = objectURL;
                                imgArr[i].onload = function (){
                                    // 加载完成
                                    progressCount++;
                                    console.log(progressCount)
                                    // 所有图片加载完成 开始生成页面
                                    if (i === imgData.length-1) console.log(sv.generate(sv.v_init()))
                                }
                                imgArr[i].onerror = function (){
                                    // img load 出现错误
                                    console.log("img load error " + imgArr[i].src);
                                }
                        }).catch(function(e) {
                            // fetch 出现错误
                            console.log("fetch error " + e);
                        });
                    }
            }
            window.onload=function(){
                swal({
                        text: "开始加载",
                        button: false,
                        closeOnClickOutside: false,
                        className: "swal-loading",
                    }); 
                Param = (name) =>{
                    let reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
                    let r = window.location.search.substr(1).match(reg);
                    if(r!==null)return unescape(r[2]);
                    return null;
                };
                if(!Param("rcc_uuid")){
                    console.log("not rcc_uuid")
                    alert("not rcc_uuid 非法访问")
                    document.write("<h1>not rcc_uuid 非法访问</h1>")
                    // window.location.href = "//gowc.iuu.pub/404";
                }else{
                    if(!Param("rcu_uuid")){
                        console.log("not u_uuid go oauth")
                        window.location.href = "https://gowc.iuu.pub/representcat/oauth/?rcc_uuid=" + Param("rcc_uuid");
                    }else{
                        loadImg();
                        console.log("rcu_uuid: " + Param("rcu_uuid"))
                    }
                }
            }
        }() 
        )
    </script>
</body>
</html>
